.App {
  display: flex;
}

.App2 {
  flex: 1;
  padding: 20px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1d2634;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
head{
  margin: 0;
}

